:root {
    /* Paleta de cores */
    --roxo: #6A0DAD;
    --lilas-claro: #D8BFD8;
    --azul-real: #4169E1;
    --dourado-suave: #FFD700;
    --cinza-claro: #F4F4F4;
    --cinza-escuro: #4B4B4B;
    --branco: #FFFFFF;

    /* Variáveis para animação */
    --transition-tempo: .05s;

    /* Valores de tamanho */
    --altura-header: 80px;
    --altura-footer: 200px;
}


/* Estilo Geral */
* {
    box-sizing: border-box; /* Não comentar essa linha! */
    /* outline: 1px solid red; */
}

::selection {
    background-color: var(--cinza-claro);
    color: var(--azul-real);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--cinza-claro);
    color: var(--cinza-escuro);

    min-height: calc(100svh + var(--altura-footer));
}

::-webkit-scrollbar-track {
    background-color: red;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

iframe {
    display: flex;
    aspect-ratio: 4/3;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: var(--branco);
}
h1, h2 {
    letter-spacing: -3px;
}

h1 {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;

    border-radius: 10px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: brightness(1.1);
}

h2 {
    text-align: center;
    font-size: 2rem;
    letter-spacing: -1px;

    color: var(--branco);
    margin: 20px 0;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--branco);
    text-align: justify;
}

a {
    color: var(--dourado-suave)
}

a:hover {
    color: #f7ebbe;
}

a:visited {
    color: rgb(238, 130, 238);
}

a:visited:hover {
    color: rgb(250, 42, 250);
}

section {
    border-top: var(--dourado-suave) 2px solid;
    margin: 2rem 1rem;
}

section:nth-of-type(1) {
    border-top: none;
}

fieldset {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    margin: 2% 0;
}

label {
    font-weight: bold;
    color: var(--branco);
}

/* Tabelas */
table, td, tr, th {
    border: solid 1px transparent;
    /* border-collapse: collapse; */
}

td, tr th {
    padding: 1ch;
}

table {
    color: var(--branco);
    margin: 2rem auto;
    padding: 0;
    backdrop-filter: brightness(.9);
}

th {
    background-color: #d8bfd850;
}

td {
    text-align: center;
}

.animar-gradiente {
    background-image: linear-gradient(45deg, var(--roxo), var(--cinza-escuro), var(--azul-real));
    background-size: 400% 400%;
    animation: gradiente-animacao 15s ease-in-out infinite;
}

input:not([type="checkbox"]),
textarea {
    align-self: center;
    
    background-color: transparent;
    color: #ffffff;
    backdrop-filter: brightness(.9);
    
    width: 95%;
    padding: 10px;
    margin: 0.5em;
    border-radius: 5px;
    font-size: 14px;
    line-height: 1.5rem;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
    backdrop-filter: brightness(.8);
    border-color: var(--cinza-escuro);
}

/* Cabeçalho */
header {
    width: 100%;
    height: var(--altura-header);
    
    backdrop-filter: blur(5px);
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav-container {
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    height: 70px;
    max-width: fit-content;
    border-radius: 5px;
    overflow: hidden;
    transition: transform var(--transition-tempo) ease-in-out;
}

#nav-logo img{
    height: 100%;
}

#nav-logo:hover{
    transform: scale(1.05);
}

#nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

#nav-menu li {
    font-weight: bold;
    color: var(--branco);
    transition: transform var(--transition-tempo) ease-out;
}

#nav-menu li:hover {
    color: var(--dourado-suave);
    transform: scale(1.05);
}

#nav-menu li a, .footer-column ul li a {
    text-decoration: none;
    color: inherit;
}

.header-abs {
    position: absolute;
}

/* Seção Hero */
#imagem_inicial{
    position: absolute;
    z-index: -1;

}
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    text-align: center;
    height: 100%;
    color: var(--branco);
}

.hero h1 {
    margin: 0 2ch;
}

.hero p {
    font-size: 1.5rem;
    margin: 0;
}

/* Estilos do Carrossel */
.swiper {
    width: 100%;
    height: 100svh;

    margin: 0 auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.swiper-slide > * {
    flex: 1;
}

.swiper-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper-slide > img {
    max-width: 100%;

    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
}

.swiper-pagination-bullet {
    background: white;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #ffcc00;
}

.swiper iframe {
    width: 100%;
}

/* Seção de Conteúdo */
.content-section {
    background-color: var(--roxo);
    text-align: center;
    padding: 40px 20px;
    margin: auto;
    width: 100%;
}

/* Rodapé */
footer {
    flex: 0 0 auto;
    
    background-color: var(--cinza-escuro);
    color: var(--branco);
    padding: 20px 0;
    height: var(--altura-footer);
    width: 100%;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 20px;
}

#footer-logo {
    width: 100px;
    height: 40px;
    background-color: var(--cinza-escuro);
    border-radius: 5px;
}

#footer-columns {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 150px;
}

.footer-column h3 {
    letter-spacing: normal;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

ul li:hover a {
    color: var(--dourado-suave);
}

/* Estilo da Página de Contato */
#contato-pagina {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contato-pagina main {
    width: 100%;
    margin: 5% 0;
}

#contato-pagina header {
    background-color: transparent;
}

#contact-container {
    max-width: 600px;
    width: 80%;
    
    display: flex;
    flex-direction: column;
    
    background-color: transparent;
    backdrop-filter: blur(17px) brightness(1.05);
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    margin: 0 auto;
    padding: 1.5%;
}

.inline-fieldset {
    flex-direction: row;
    gap: 2%;
    justify-content: flex-start;
}

#submit-btn {
    background-color: #ffffff09;
    max-width: 600px;
    color: var(--branco);
    margin-top: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;   
}

#submit-btn:hover {
    background-color: #ebb624c7;
    color: var(--branco);
}

#output-form {
    padding-top: 5em;
    padding-bottom: 5em;
    border-radius: 5px;
    /* background-image: linear-gradient(to bottom, var(--roxo), #1f122991); */
    color: #ffffff;
    line-height: 3rem;
    text-align: center;
}

#output-form :hover{
    transform: scale(1.5);
    color: #FFD700;
}

/* PÁGINAS DE PORTIFOLIO */
#section-apresentacao {
    display: flex;
    flex-direction: column;
}

.img-apresentacao {
    display: block;
    width: 30%;
    margin: 0 1em;
    float: left;
    border-radius: 10px;
}

#texto-apresentacao {
    margin: 1rem;
}

.img-apresentacao:nth-of-type(even) {
    float: right;
}

iframe {
    width: 100%;
    height: 800px;
}


/* Animações */
@keyframes gradiente-animacao {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* Media Queries */
@media (max-width: 500px) {
    #nav-container {
        justify-content: center;
    }

    #nav-logo {
        display: none;
    }

    .img-apresentacao {
        float: left;
    }
}

/* Img's das pgs Pessoais */
#imgArthur1 {
    margin: 0;
    margin-right: 2em;
    height: 490px;
    width: 21%;
    border-radius: 10px;
}
#imgArthur2 {
    margin-top: 1em;
    margin-left: 2em;
    width: 26%;
    height: 1000px;
    border-radius: 10px;
}
#imgArthur3 {
    padding-left: -3em;
    height: 520px;
    width: 69%;
    border-radius: 10px;
}